@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
}

img{
    cursor: pointer;
}

.nav {
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.nav .ham{
    width: 30px;
    padding: 0 10px 0 0;
}
.nav .yt {
    width: 64px;
}
.nav .text{
    font-size: 35px;
}
.nav .mic{
    position: relative;
    top: 10px;
    left: 12px;
    width: 30px;
}

.nav .search{
    margin: 0 auto;
}

.nav img{
    width: 35px;
}

.nav .inp{
    width: 800px;
    height: 30px;
    border-radius: 20px;

}
.nav .cam , .nav .bell{
    padding: 10px;
}
.nav .Pulkit{
    width: 70px;
    height: 50px;
    border: solid 7px black;
    border-radius: 70%;
}