.itm{
    display: flex;
    flex-direction: column;
}
.element{
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 240px;
    height: 55px;
    padding-left: 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 6px;
}
img{
    padding-right: 20px;
    width: 29px;
}
#active{
    background-color: #c0c0c0;
}
.element:hover{
        background-color: #c0c0c0;
}
hr{
    width: 260px;
}
.element .Pulkit{
    border-radius: 100%;
    width: 60px;
    height: 50px;
}
a{
    text-decoration: none;
    color: black;
}